.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: royalblue;
  padding: 10px 20px;
  color: white;
  
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.toggle-btn {
  background-color: orange;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
}

.toggle-btn:hover {
  background-color: darkorange;
}